$mainColor: THISTLE;
$BKcolorHeadContainer: #484e52;
$BKbody: #111f28;
$mainTextColor: #ffffff;
$containerBorder: #afb9c5;
$containerHover: #999999;
$boxShadowContainer: #666666;

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $BKbody;
}

header {
  align-items: center;
  background-color: $BKcolorHeadContainer;
  color: $mainTextColor;
  display: flex;
  height: 3.85rem;
  justify-content: space-between;
  margin-bottom: .75rem;
  padding: 0 .75rem;

  p {
    color: $mainTextColor;
    font-size: 1.25rem;
  }
  span {
    color: $mainColor;
  }
}


main {
  break-inside: avoid;
  column-count: 3;
  column-width: 15em;
  padding: .75rem;
  width: 100%;
}

container {
  background-color: $BKcolorHeadContainer;
  border-radius: 10px;
  border: solid 2px $containerBorder;
  box-shadow: 0 0 5px $boxShadowContainer;
  break-inside: avoid;
  color: $mainTextColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  width: 100%;

  &:hover {
    box-shadow: 0 0 10px $containerHover;
    transition: 0.4s;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  border-bottom: solid 1px $mainTextColor;
  display: block;
  font-size: 1.15rem;
  margin-bottom: 1.15rem;
  padding-bottom: 1.15rem;
  text-align: center;
  a {
    text-decoration: none;
    color: $mainTextColor;


  }
}

h3 {
  font-size: .9rem;

}

p {
  font-size: 1rem;
}

#user-admin-info p {
  font-weight: bold;
}

span {
  font-weight: normal;
}

img {
  align-self: center;
  height: 150px;
  width: 100px;
}

.you-vs-world {
  text-align: center;

  h3 {
    margin-bottom: .25rem;
    margin-top: .25rem;
  }

  span {
    color: $mainColor;
  }
}

.number,
#user-water-by-day {
  color: $mainColor;
  font-size: 2.75rem;
  font-weight: bold;
  margin: .25rem;
  opacity: 0.8;
}

.container-center {
  text-align: center;
}

#winner-name {
  color: $mainColor;
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
}

#republic-plaza-challenge {
  color: $mainColor;
  font-size: 2rem;
  font-weight: bold;
  padding-left: .15rem;
  padding-right: .15rem;
}
@media (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.15rem;
  }
  header p {
    font-size: 1rem;
  }

}
@media (max-width: 420px) {
  h1 {
    font-size: 1rem;
  }
  header p {
    font-size: .9rem;
  }
}
