* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #111f28;
}

header {
  align-items: center;
  background-color: #484e52;
  color: #ffffff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom:10px;
  padding: 0 10px;
}

header p {
  color: plum;
  font-size: 20px;
}

main {
  break-inside: avoid;
  column-count: 3;
  column-width: 15em; 
  padding: 10px;
  width: 100%;
}

container {
  background-color: #484e52;
  border-radius: 10px;
  border: solid 2px #afb9c5;
  box-shadow: 0 0 5px #666666;
  break-inside: avoid;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

container:hover {
  box-shadow: 0 0 10px #999999;
  transition: 0.4s;
}

h1 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

h3 {
  border-bottom: solid 1px #ffffff;
  display: block;
  font-size: 20px;
  margin-bottom:15px;
  padding-bottom: 15px;
  text-align: center;
}

p {
  font-size: 16px;
}

#user-admin-info p {
  font-weight: bold;
}

span {
  font-weight: normal;
}

img {
  align-self: center;
  height: 150px;
  width: 100px;
}

.you-vs-world {
  text-align: center;
}

.you-vs-world h4 {
  margin-bottom: 4px;
  margin-top: 4px;
}

.you-vs-world span {
  color: plum;
}

.number,
#user-water-by-day {
  color: plum;
  font-size: 40px;
  font-weight: bold;
  margin: 3px;
  opacity: 0.8;
}

.container-center {
  text-align: center;
}

#winner-name {
  color: plum;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#republic-plaza-challenge {
  color: plum;
  font-size: 20px;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}




